<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <img src="images/Logo_Nilfisk.jpg" alt="Nilfisk Logo" class="navbar-logo" style="width: 200px; height: auto;" />
        </a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="about">
                <span class="bi bi-info-circle-fill" aria-hidden="true"></span> About
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="environmentalkpi">
                <span class="bi bi-bar-chart-fill" aria-hidden="true"></span> Environmental KPIs
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="climate&energy">
                <span class="bi bi-recycle" aria-hidden="true"></span> Climate and Energy
            </NavLink>
        </div>

          <div class="nav-item px-3">
            <NavLink class="nav-link" href="environmentalmanagement">
                <span class="bi bi-tree-fill" aria-hidden="true"></span> Environmental
            </NavLink>
        </div>
        <AuthorizeView Policy="MustBeTeacher">
            <Authorized>
                <div class="nav-item px-3">
            <NavLink class="nav-link" href="addData">
                <span class="bi bi-pencil-fill" aria-hidden="true"></span> Add / Edit Data
            </NavLink>
        </div>
            </Authorized>
        </AuthorizeView>
    </nav>
</div>
